.webdev {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.webdev-name {
  font-size: 32px;
  color: red;
}
========================================== */

.webdev-composer {
  width: 0.84375em;
}

.webdev-google-cloud-platform {
  width: 1.0625em;
}

.webdev-materializecss {
  width: 1.0625em;
}

.webdev-preact {
  width: 0.875em;
}

.webdev-react {
  width: 1.0625em;
}

.webdev-semantic-web {
  width: 0.84375em;
}

.webdev-sqllite {
  width: 1.0625em;
}

.webdev-sublime {
  width: 0.84375em;
}
